body
{
    margin: 0;
    /* background-color: red; */
}

/*///////////////////////////////////////////////////////////*/

#body
{
    margin: 10px 0px 10px 0px;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 10px;
}

/*///////////////////////////////////////////////////////////*/

.title
{
    height: 50px;
    display : flex;
    justify-content: center;
    align-items: center;
}

.title > span
{
    /* font-size: 16px; */
    font-size: clamp(16px, 5vw, 40px);
    white-space: nowrap;
}

/*///////////////////////////////////////////////////////////*/

.contact
{
    height: 40px;
}

.contact > div:nth-child(1)
{
    height: 15px;
    color: #AD222D;
    padding-left: calc(50% - 175px);
}

.contact > div:nth-child(2)
{
    height: 25px;
    background-color: #AD222D;
    color: #ffffff;
    display : flex;
    justify-content: center;
    align-items: center;
}

/*///////////////////////////////////////////////////////////*/

.map
{
    aspect-ratio: 2 / 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    background-color: #AD222D;
    font-family:'Courier New', Courier, monospace;
    justify-content: center;
    max-height: 500px;
}

.map > *
{
    /* height: 100%; */
    max-height: 500px;

    /* min-width: 300px; */
    /* width: 100%; */
    flex: 1 1 300px;
}

/* .map > iframe
{
    min-width: 300px;
} */

.map > div
{
    background-color: #AD222D;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    /* max-height: 200px; */
    max-width: 300px;
}

.map > div > div
{
    display : flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.map > div > div > span
{
    width: 80%;
}

.map > div > ul
{
    display: grid;
    gap: 5px;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

.map > div > ul > li
{
    /* display: grid; */
    /* grid-template-columns: repeat(2, 50%); */
    /* margin-bottom: 5px; */
    display: flex;

    white-space: nowrap;
}

.map > div > ul > li > div:nth-child(2)
{
    width: 100%;
}

/* .map > div > ul > li > div:nth-child(1)
{
    float: left;
}

.map > div > ul > li > div:nth-child(2)
{
    float: right;
} */


/*///////////////////////////////////////////////////////////*/

.images_y
{
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: repeat(1, 100%);
}

.images_y > div
{
    aspect-ratio: 2 / 1;
    min-width: 100%;
    display : flex;
    max-height: 400px;
    justify-content: center;
    background-color: #AD222D;
}

.images_y > div > *
{
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.images_y > div > div
{
    padding: 20px;
}

.images_y > div > div
{
    color: #ffffff;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

@media (min-width: 800px) {
    .images_y
    {
        gap: 150px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .images_y > div
    {
        height: 200px;
        gap: 200px;
        align-items: center;
        position: relative;
    }
    /* .images_y > div > *:nth-child(1)
    {
        transform: translate(50%,0);
    }
    .images_y > div > *:nth-child(2)
    {
        transform: translate(-50%,0);
    } */
    .images_y > div > img
    {
        height: 400px;
    }
    .images_y > div > div
    {
        width: 200px;
    }
}

/*///////////////////////////////////////////////////////////*/

.images_x
{
    display: flex;
    max-width: 100%;
    /* overflow-x: hidden; */
    overflow-x: scroll;
    overflow-y: hidden;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.images_x::-webkit-scrollbar {
  display: none;
}

.images_x > div
{
    aspect-ratio: 2 / 1;
    width: 50%;
    max-width: 300px;
    display : flex;
    flex-direction: column;
}

.images_x > div > *
{
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.images_x > div > div
{
    background-color: #AD222D;
    padding: 20px;
}

.images_x > div > div
{
    color: #ffffff;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
}
